[color]
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  status = auto
  ui = true
[alias]
  a = add
  s = status
  c = commit
  cm = commit -m
  d = diff
  dc = diff --cached
  co = checkout
  cb = checkout -b
  cob = checkout -b
  unstage = reset HEAD
  amend = commit --amend --no-edit
  pop = stash pop
  touched = "!f() { BASE_BRANCH=${1:-develop}; printf \"Files changed since branched out from $BASE_BRANCH\n\"; git diff HEAD $(git merge-base HEAD  $BASE_BRANCH) --name-only; }; f"
[user]
  email = jpe@coinify.com
  name = Juraj Petrik
[core]
  preloadindex = true
  fscache = true
  whitespace = cr-at-eol
	editor = /usr/local/bin/vim
	excludesfile = ~/.global_ignore
[gc]
  auto = 0
[push]
  default = current
[colors]
  ui = true
[init]
  templatedir = ~/.git_template
